.NAM{
    background-color: #7293CB;
    color:white;
}
.ApeKI{
    background-color:#e1974c;
    color: white;
}
.Imputation{
    background-color:#84ba5b;
    color: white;
}
.Ames2010{
    background-color:#d35e60;
    color: white;
}
.RandD{
    background-color:lightblue;
    color: white;
}
.BREAD{
    background-color:#9067a7;
    color: white;
}
.Inbreds{
    background-color:#61A961;
    color: white;
}
.Ames282{
    background-color:#ab6857;
    color: white;
}
.oldDiversity{
    background-color:#ccc210;
    color: white;
}
.IBM{
    background-color:#808585;
    color: white;
}